// Colors
$primary-purple: #7438E2;
$bottom-bar-purple: rgba(116, 56, 226, 0.80);

// Sizes
$toolbar-height: 80px;

:export {
  primaryPurple: $primary-purple;
  toolbarHeight: $toolbar-height;
  bottomBarPurple: $bottom-bar-purple;
}
